.d-flex {
  display: flex !important;
}
.justify-content-center {
  justify-content: center !important;
}

.ourProductsContainer {
  padding: 80px;
}

.text-center {
  text-align: center !important;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  padding: 120px 0 40px 0;
}

.product {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2) !important;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.image-container {
  height: 200px;
  margin-bottom: 15px;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
